{{#if FEFEnabled}}
{{!-- For passing of variables from ExpressJS / Handlebars to ReactJS --}}
<script>
    var someMsg = "{{defaultMessage}}";
</script>
{{!-- For Angular --}}
<div id="app"></div>
{{/if}}

{{#if webpackEnabled}}
{{!-- For webpack --}}
<script src="/bundle.js"></script>
{{/if}}