{{#if FEFEnabled}}
{{!-- For passing of variables from ExpressJS / Handlebars to ReactJS --}}
<script>
    var someMsg = "{{defaultMessage}}";
</script>
<div id="app"></div>
{{/if}}

<div class="container">
    {{defaultMessage}}
</div>

{{#if webpackEnabled}}
{{!-- For webpack --}}
<script src="/bundle.js"></script>
{{/if}}