<div>
    <form action="login" method="post">
        <table>
            <tr>
                <td><label for="email">Email: </label></td>
                <td><input type="text" name="email" /></td>
            </tr>
            <tr>
                <td><label for="password">Password: </label></td>
                <td><input type="password" name="password" /></td>
            </tr>
        </table>
        <div>
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <input type="submit" value="Login" />
        </div>
    </form>
</div>