<div class="container">
    <form id="formLogin" action="login" method="post">
        <table>
            <tr class="form-group">
                <td><label for="email">Email: </label></td>
                <td><input type="text" name="email" class="form-control"/></td>
            </tr>
            <tr class="form-group">
                <td><label for="password">Password: </label></td>
                <td><input type="password" name="password" class="form-control" /></td>
            </tr>
        </table>
        <div>
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <input id="btnSubmitLogin" type="submit" value="Login" class="btn btn-primary" />
        </div>
    </form>
</div>

<script>
    document.getElementById('btnSubmitLogin').addEventListener('click', handleSubmit);
</script>